
lot6/TetrisJava/src/main/resources/config.properties

lot6/TetrisJava/target/classes/config.properties
lot7/TetrisJava/src/main/resources/config.properties
lot6/TetrisJava/target/classes/config.properties
lot7/TetrisJava/target/classes/config.properties
lot6/TetrisJava/target/classes/config.properties
lot6/TetrisJava/target/classes/config.properties
lot6/TetrisJava/target/classes/config.properties
