/* Empêcher le curseur de texte sur les éléments non-formulaires */
body, div, span, h1, h2, h3, h4, h5, h6, p, a, 
section, header, footer, main, aside, nav, 
.game-container, .side-panel, .stats-container, .stat-item, 
.player-info, .button-container, .menu-button, .control-btn,
.game-over-overlay, .game-over-content, .header-container, 
.settings-gear, .settings-dropdown {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: default;
}

/* Permettre la sélection de texte uniquement dans les formulaires */
input, textarea, [contenteditable="true"] {
    user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    cursor: text;
}

/* Définir le bon curseur pour les éléments interactifs */
button, a, .menu-button, .control-btn, .settings-gear {
    cursor: pointer;
}
/* Appliquer une taille pour s'assurer que tout prend l'écran */
html, body {
    height: 100%;
    margin: 0;
    padding: 0  ;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Image de fond couvrant tout l'écran */
body {
    background: url('../images/river.gif') no-repeat center center fixed; /* Remplace par le chemin de ton vidéo */
    background-size: cover;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

/* test Déclaration des variables de couleurs */
:root {
    --moss: #507555;  /* Couleur principale */
    --sarcelle: #167B76;  /* Couleur secondaire */
    --sarcelle_hover: #1D8A83;  /* Couleur secondaire */
    --ambre: #E9CB64;  /* Couleur de fond */
    --ambre_hover: #EADD56;  /* Couleur de fond */
}
/* Style des boutons login/guest en haut à droite de la page index.php*/
.header-buttons {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center; /* Assurez-vous que tout est aligné verticalement */
    gap: 10px; /* Espacement entre les boutons */
}

.header-buttons button {
    background-color: #E9CB64; /* Marron doré */
    color: #1a1a1a; /* Noir profond pour le texte */
    font-family: 'Press Start 2P', cursive; /* Police pixel art */
    font-size: 18px;
    border: 3px solid #1a1a1a; /* Bordure noire */
    padding: 15px 20px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s ease;
    border-radius: 5px;

}

.header-buttons button:hover {
    background-color: #EADD56; /* Couleur marron légèrement plus sombre */
    transform: scale(1.05);
    transform: translateY(-2px);
}
/* Fin du style des boutons login/guest en haut à droite de la page index.php*/


/*Style des bouton Login-Guest en version centrale pour la page LoginGuest.html*/
.LG-center-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.LG-center-buttons button {
    background-color: #E9CB64; /* Marron doré */
    color: #1a1a1a; /* Noir profond pour le texte */
    font-family: 'Press Start 2P', cursive; /* Police pixel art */
    font-size: 50px;
    border: 3px solid #1a1a1a; /* Bordure noire */
    padding: 15px 20px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s ease;
    border-radius: 5px;
}
.LG-center-buttons button:hover {
    background-color: #EADD56; /* Couleur marron légèrement plus sombre */
    transform: scale(1.05);
    transform: translateY(-2px);
}
/*Fin du style des bouton Login-Guest en version centrale pour la page LoginGuest.html*/

/*Style des boutons se connecter/new account/forgot password pour la page login.html*/
.conpage-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 300px; 
    margin: 20px auto;
}
.conpage-buttons button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-family: 'Press Start 2P', cursive; /* Police pixel art */
    color: #1a1a1a; /* Texte noir profond */
    background-color: #E9CB64; /* Marron doré */
    border: 2px solid #1a1a1a; /* Bordure noire */
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 4px 4px 0 #1a1a1a; /* Ombre pour effet de relief */
    text-transform: uppercase;
}
.conpage-buttons button:hover {
    background-color: #a79483; /* Couleur marron légèrement plus sombre */
    transform: scale(1.05);
    transform: translateY(-2px);
}
/*Fin du style des boutons se connecter/new account/forgot password center-buttons*/

/* Style pour centrer les boutons dans la page index.php */
.center-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.center-buttons button {
    background-color: #167B76 ; /* bleu pixel */
    color: #1a1a1a; /* Noir profond pour le texte */
    font-family: 'Press Start 2P', cursive; /* Police pixel art, vous pouvez la remplacer par une police similaire */
    font-size: 18px;
    border: 3px solid #1a1a1a; /* Bordure noire */
    padding: 15px 20px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    width: 200px;
    transition: 0.3s ease;
    border-radius: 5px;
}

.center-buttons button:hover {
    background-color: #1D8A83; /* Couleur bleu plus sombre */
    transform: scale(1.05);
    transform: translateY(-2px);
}
/* Fin du style pour centrer les boutons dans la page index.php */

/* Style pour le petit encadré de test du timer dans la page index.php*/
#timer-test {
    position: absolute; 
    top: 20px; 
    left: 20px;
    background-color: rgba(242, 233, 208, 0.8); /* Un fond semi-transparent */
    border: 4px solid #E9CB64; /* Bordure sombre */
    border-radius: 5px; /* Coins arrondis */
    padding: 10px; /* Espace interne */
    color: white; /* Couleur du texte */
    font-family: 'Press Start 2P', cursive; /* Police pixel art */
}

/* Style pour le timer */
#timer {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 18px;
    color: white;
    margin-bottom: 10px; /* Espace entre le timer et les boutons */
}

/* Style pour le message d'action */
#inputTest {
    position: fixed; /* Pour le fixer en bas de la page */
    bottom: 20px;    /* Marge de 20px par rapport au bas */
    left: 50%;       /* Centre horizontalement */
    transform: translateX(-50%); /* Centre parfaitement l'élément */
    
    background-color: #507555 ; /* Couleur de fond similaire aux boutons */
    border: 4px solid #1a1a1a; /* Bordure foncée pour l'encadré */
    color: #000; /* Couleur du texte */
    font-family: 'Press Start 2P', cursive; /* Police pour le style rétro */
    font-size: 14px; /* Taille du texte */
    padding: 15px 30px; /* Espace intérieur pour l'encadré */
    text-align: center; /* Centrer le texte dans l'encadré */
    box-shadow: 4px 4px 0 #1a1a1a; /* Ombre pour un effet 3D rétro */
    width: fit-content; /* Ajuste la largeur à la taille du texte */
    min-width: 200px; /* Largeur minimale pour un bon affichage */
}

/* Masque la grille par défaut */
.hidden {
    display: none;
}

/* Boutons latéraux page game*/
.side-buttons {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.side-buttons button {
    background-color: #167B76; /* Rouge pixel */
    color: #1a1a1a; /* Noir profond pour le texte */
    font-family: 'Press Start 2P', cursive; /* Police pixel art */
    font-size: 18px;
    border: 3px solid #1a1a1a; /* Bordure noire */
    padding: 15px 20px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    width: 200px; /* Ajustez si nécessaire */
    transition: 0.3s ease;
    border-radius: 5px;
}

.side-buttons button:hover {
    transform: scale(1.05);
    transform: translateY(-2px);
}

/* Style pour les boutons du timer */
.timer-buttons {
    display: flex;
    gap: 5px; /* Espace entre les boutons */
}

.timer-buttons button {
    background-color: #507555 ; /* Rouge pixel */
    color: #1a1a1a; /* Noir profond pour le texte */
    font-family: 'Press Start 2P', cursive; /* Police pixel art */
    font-size: 14px;
    border: 3px solid #1a1a1a; /* Bordure noire */
    padding: 10px 15px; /* Espace interne */
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s ease;
    border-radius: 5px;
}

.timer-buttons button:hover {
    background-color: #216E4E; /* Couleur rouge plus sombre */
    transform: scale(1.05);
    transform: translateY(-2px);
}

/* Style pour la grille de jeu */
#gameGrid {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(20, 30px);
    gap: 1px;
    margin: 20px auto;
    padding: 10px;
    background-color: rgba(234, 219, 178, 0.8); /* Fond Stardew */
    border: 4px solid #6D4A33; /* Bordure bois */
    box-shadow: 4px 4px 0 #6D4A33;
    border-radius: 5px;
}

/* Styles des cellules */
.cell {
    width: 30px;
    height: 30px;
    background-color: rgba(255, 248, 225, 0.9);
    border: 1px solid #AD8669;
}

/* Styles des Tétraminos */
.tetromino {
    background-color: #A2C48D; /* Vert Stardew */
}

/* Styles pour les tétraminos fixés */
.fixed {
    background-color: #E6C48D;
}

/* Style du formulaire de connexion */
.login-form {
    background-color: rgba(0, 0, 0, 0.8); /* Fond noir transparent pour laisser l'image en arrière-plan */
    padding: 30px;
    border: 3px solid #E9CB64; /* Bordure dorée */
    border-radius: 10px;
    box-shadow: 4px 4px 0 #1a1a1a; /* Ombre pour effet rétro */
    width: 320px;
    text-align: center;
    margin: 20px;
}

/* Style des labels */
.login-form label {
    display: block;
    font-size: 14px;
    color: #E9CB64; /* Marron doré */
    margin-bottom: 10px;
    font-family: 'Press Start 2P', cursive; /* Police pixel art */
}

/* Style des champs de saisie */
.login-form input[type="text"],
.login-form input[type="password"],
.login-form input[type="email"],
.login-form input[type="date"] {
    width: 90%;
    padding: 12px;
    margin: 0 auto 15px auto;
    border: 2px solid #E9CB64; /* Bordure dorée */
    border-radius: 5px;
    background-color: #1a1a1a; /* Fond noir profond */
    color: #E9CB64; /* Texte doré */
    font-size: 14px;
    font-family: 'Press Start 2P', cursive; /* Police pixel art */
    box-shadow: inset 2px 2px 4px #333;
}

/* Style du bouton de soumission */
.login-form button[type="submit"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-family: 'Press Start 2P', cursive; /* Police pixel art */
    color: #1a1a1a; /* Texte noir profond */
    background-color: #E9CB64; /* Marron doré */
    border: 2px solid #1a1a1a; /* Bordure noire */
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 4px 4px 0 #1a1a1a; /* Ombre pour effet de relief */
    text-transform: uppercase;
}

/* Effet de survol pour le bouton de soumission */
.login-form button[type="submit"]:hover {
    background-color: #a79483; /* Doré plus sombre */
    transform: scale(1.05);
}

/* Centrage du formulaire et espacement */
body > form {
    margin-top: 50px;
}
/* Fin du style du formulaire de connexion */

/* Style spécifique pour le formulaire de déconnexion */

.logout-form {
    display: inline-block; /* Assure que le formulaire et les autres éléments soient alignés horizontalement */
    margin-left: 10px; /* Espacement pour éviter que le bouton de déconnexion soit trop proche du bouton utilisateur */
    vertical-align: middle; /* Aligner verticalement avec les autres boutons */
}

.logout-form button {
    all: unset; /* Supprime tous les styles par défaut du bouton dans le formulaire */
    display: inline-block; /* Rend le bouton inline-block pour éviter un écart */
    background-color: #E9CB64; /* Couleur identique à celle du bouton Guest */
    color: #1a1a1a; /* Texte noir profond */
    font-family: 'Press Start 2P', cursive; /* Police pixel art */
    font-size: 18px; /* Taille de texte similaire */
    border: 3px solid #1a1a1a; /* Bordure noire */
    padding: 15px 10px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s ease;
    border-radius: 5px; /* Coins arrondis pour le bouton */
}

.logout-form button:hover {
    background-color: #EADD56; /* Même couleur de survol */
    transform: scale(1.05);
    transform: translateY(-2px);
}
/* Fin du style spécifique pour le formulaire de déconnexion */

/*Style pour le formulaire de création de compte createaccount_form sur create_account.php */

/* Conteneur du formulaire */
#createaccount_form {
    background-color: rgba(0, 0, 0, 0.8); /* Fond noir transparent */
    padding: 30px;
    border: 3px solid #E9CB64; /* Bordure dorée */
    border-radius: 10px;
    box-shadow: 4px 4px 0 #1a1a1a; /* Ombre pour effet rétro */
    width: 320px;
    text-align: center;
    margin: 20px auto; /* Centrer le formulaire sur la page */
}

/* Style des labels */
#createaccount_form label {
    display: block;
    font-size: 14px;
    color: #E9CB64; /* Marron doré */
    margin-bottom: 10px;
    font-family: 'Press Start 2P', cursive; /* Police pixel art */
}

/* Style des champs de saisie */
#createaccount_form input[type="text"],
#createaccount_form input[type="password"],
#createaccount_form input[type="email"],
#createaccount_form input[type="date"] {
    width: 90%;
    padding: 12px;
    margin: 0 auto 15px auto;
    border: 2px solid #E9CB64; /* Bordure dorée */
    border-radius: 5px;
    background-color: #1a1a1a; /* Fond noir profond */
    color: #E9CB64; /* Texte doré */
    font-size: 14px;
    font-family: 'Press Start 2P', cursive; /* Police pixel art */
    box-shadow: inset 2px 2px 4px #333;
}

/* Style du bouton de soumission */
#createaccount_form button[type="submit"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-family: 'Press Start 2P', cursive; /* Police pixel art */
    color: #1a1a1a; /* Texte noir profond */
    background-color: #E9CB64; /* Marron doré */
    border: 2px solid #1a1a1a; /* Bordure noire */
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 4px 4px 0 #1a1a1a; /* Ombre pour effet de relief */
    text-transform: uppercase;
}

/* Effet de survol pour le bouton de soumission */
#createaccount_form button[type="submit"]:hover {
    background-color: #a79483; /* Doré plus sombre */
    transform: scale(1.05);
}
/*Style pour le formulaire de modification de compte my_account_form sur my_account.php */

/* Conteneur du formulaire */
#my_account_form {
    background-color: rgba(0, 0, 0, 0.8); /* Fond noir transparent */
    padding: 30px;
    border: 3px solid #E9CB64; /* Bordure dorée */
    border-radius: 10px;
    box-shadow: 4px 4px 0 #1a1a1a; /* Ombre pour effet rétro */
    width: 320px;
    text-align: center;
    margin: 20px auto -105px auto; /* Centrer le formulaire sur la page */
}

/* Style des labels */
#my_account_form label {
    display: block;
    font-size: 14px;
    color: #E9CB64; /* Marron doré */
    margin-bottom: 10px;
    font-family: 'Press Start 2P', cursive; /* Police pixel art */
}

/* Style des champs de saisie */
#my_account_form input[type="text"],
#my_account_form input[type="password"],
#my_account_form input[type="email"],
#my_account_form input[type="date"] {
    width: 90%;
    padding: 12px;
    margin: 0 auto 15px auto;
    border: 2px solid #E9CB64; /* Bordure dorée */
    border-radius: 5px;
    background-color: #1a1a1a; /* Fond noir profond */
    color: #E9CB64; /* Texte doré */
    font-size: 14px;
    font-family: 'Press Start 2P', cursive; /* Police pixel art */
    box-shadow: inset 2px 2px 4px #333;
}

/* Style du bouton de soumission */
#my_account_form button[type="submit"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-family: 'Press Start 2P', cursive; /* Police pixel art */
    color: #1a1a1a; /* Texte noir profond */
    background-color: #E9CB64; /* Marron doré */
    border: 2px solid #1a1a1a; /* Bordure noire */
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 4px 4px 0 #1a1a1a; /* Ombre pour effet de relief */
    text-transform: uppercase;
}

/* Effet de survol pour le bouton de soumission */
#my_account_form button[type="submit"]:hover {
    background-color: #EADD56; /* Doré plus sombre */
    transform: scale(1.05);
}

/*Style pour le title central des pages*/ 
#page_title {
    font-family: 'Press Start 2P', cursive; /* Police pixel art */
    font-size: 48px; /* Taille assez grande pour être central */
    text-align: center; /* Centrer le texte */
    color: #ffffff; /* Texte blanc pour contraster avec le fond */
    background-color: #507555; /* Couleur de fond, ici un orange/marron */
    border: 5px solid #1a1a1a; /* Bordure noire épaisse */
    padding: 20px; /* Espacement interne pour donner un effet d'encadré */
    margin: 20px auto; /* Espacement externe et centrage horizontal */
    width: fit-content; /* Ajuste la largeur à la taille du texte */
    box-shadow: 4px 4px 0 #1a1a1a; /* Ombre pour effet 3D rétro */
    text-transform: uppercase; /* Texte en majuscules */
    transition: 0.3s ease; /* Animation de transition pour survol */
    border-radius: 5px;

}

/*Style pour les boutons à droite du menu central sur la page my_account.php*/
#right_buttons {
    position: absolute;
    right: 180px; /* Ajustez pour définir la marge droite */
    top: 50%; /* Ajustez pour la hauteur */
    transform: translateY(-50%); /* Centrer verticalement */
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espace entre les boutons */
}

#right_buttons button {
    background-color: #4B606E; /* Rouge pixel */
    color: #1a1a1a; /* Noir profond pour le texte */
    font-family: 'Press Start 2P', cursive; /* Police pixel art */
    font-size: 18px;
    border: 3px solid #1a1a1a; /* Bordure noire */
    padding: 15px 20px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    width: 200px; /* Ajustez si nécessaire */
    transition: 0.3s ease;
    border-radius: 5px;
}
#right_buttons button:hover {
    transform: scale(1.05);
    transform: translateY(-2px);}

/*Style encadré des scores de la page game.php*/
#score-box {
    position: absolute; 
    left: 25%;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(242, 233, 208, 0.8); /* Fond semi-transparent */
    border: 4px solid #E9CB64; /* Bordure dorée */
    border-radius: 5px; /* Coins arrondis */
    padding: 15px;
    color: white; /* Couleur du texte */
    font-family: 'Press Start 2P', cursive; /* Police pixel art */
    text-align: center;
    box-shadow: 4px 4px 0 #1a1a1a; /* Ombre pour effet 3D */
}
/*Style pour le titre du gameover*/
.gameover-title {
    font-size: 80px; /* Plus grand que "TETRISCRAFT" */
    color: #FF0000; /* Rouge vif pour un effet dramatique */
    text-shadow: 6px 6px 0 #1a1a1a, 10px 10px 20px rgba(255, 0, 0, 0.5); /* Ombre noire + glow */
    animation: gameover-blink 0.8s infinite alternate;
    text-transform: uppercase;
    letter-spacing: 4px; /* Espacement des lettres pour un effet plus imposant */
    position: relative;
    top: -80px;
}

@keyframes gameover-blink {
    0% { opacity: 1; transform: scale(1); }
    50% { opacity: 0.7; transform: scale(1.05); }
    100% { opacity: 1; transform: scale(1); }
}

#score-box-center {
    position: relative; /* Assurez-vous que la boîte reste positionnée normalement */
    z-index: 10; /* Donne la priorité d'affichage sur d'autres éléments */
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border: 3px solid #E9CB64;
    border-radius: 10px;
    box-shadow: 4px 4px 0 #1a1a1a;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: white;
}
.center-buttons-GO {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

.center-buttons-GO button {
    background-color: #4B606E;
    color: #1a1a1a;
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
    border: 3px solid #1a1a1a;
    padding: 15px 20px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    width: 200px;
    transition: 0.3s ease;
}

.center-buttons button:hover {
    background-color: #1D8A83;
    transform: scale(1.05);
    transform: translateY(-2px);
}


/* Conteneur des filtres */
#filters {
    background-color: rgba(0, 0, 0, 0.8); /* Fond noir transparent */
    padding: 20px;
    border: 3px solid #E9CB64; /* Bordure dorée */
    border-radius: 10px;
    box-shadow: 4px 4px 0 #1a1a1a; /* Ombre pour effet rétro */
    width: 320px;
    text-align: center;
    margin: 20px auto; /* Centrer le conteneur sur la page */
}

/* Style des labels des filtres */
#filters label {
    display: block;
    font-size: 14px;
    color: #E9CB64; /* Marron doré */
    margin-bottom: 10px;
    font-family: 'Press Start 2P', cursive; /* Police pixel art */
}

/* Style du menu déroulant des filtres */
#filters select {
    width: 100%;
    padding: 12px;
    margin: 0 auto 15px auto;
    border: 2px solid #E9CB64; /* Bordure dorée */
    border-radius: 5px;
    background-color: #1a1a1a; /* Fond noir profond */
    color: #E9CB64; /* Texte doré */
    font-size: 14px;
    font-family: 'Press Start 2P', cursive; /* Police pixel art */
    box-shadow: inset 2px 2px 4px #333;
    cursor: pointer;
}

/* Style du tableau des scores */
#scores_table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: rgba(0, 0, 0, 0.8); /* Fond noir transparent */
    border: 3px solid #E9CB64; /* Bordure dorée */
    border-radius: 10px;
    box-shadow: 4px 4px 0 #1a1a1a; /* Ombre pour effet rétro */
}

/* Style des en-têtes du tableau */
#scores_table th {
    background-color: #507555; /* Couleur de fond des en-têtes */
    color: #1a1a1a; /* Texte noir profond */
    font-family: 'Press Start 2P', cursive; /* Police pixel art */
    font-size: 16px;
    padding: 15px;
    text-transform: uppercase;
}

/* Style des cellules du tableau */
#scores_table td {
    color: #E9CB64; /* Texte doré */
    font-family: 'Press Start 2P', cursive; /* Police pixel art */
    font-size: 14px;
    padding: 12px;
    text-align: center;
    border-bottom: 2px solid #E9CB64; /* Bordure entre les lignes */
}

/* Style des boutons à droite du menu */
#right_buttons {
    position: absolute;
    right: 180px; /* Ajustez pour définir la marge droite */
    top: 50%; /* Ajustez pour la hauteur */
    transform: translateY(-50%); /* Centrer verticalement */
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espace entre les boutons */
}

#right_buttons button {
    background-color: #167b76; /* Bleu pixel */
    color: #1a1a1a; /* Noir profond pour le texte */
    font-family: 'Press Start 2P', cursive; /* Police pixel art */
    font-size: 18px;
    border: 3px solid #1a1a1a; /* Bordure noire */
    padding: 15px 20px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    width: 200px; /* Ajustez si nécessaire */
    transition: 0.3s ease;
}

#right_buttons button:hover {
    background-color: #1D8A83; /* Couleur bleu plus sombre */
    transform: scale(1.05);
    transform: translateY(-2px);
}
 /* Style du formulaire des paramètres */
 .settings-form {
    background-color: rgba(0, 0, 0, 0.8); /* Fond noir transparent */
    padding: 30px;
    border: 3px solid #E9CB64; /* Bordure dorée */
    border-radius: 10px;
    box-shadow: 4px 4px 0 #1a1a1a; /* Ombre pour effet rétro */
    width: 320px;
    text-align: center;
    margin: 20px auto; /* Centrer le formulaire sur la page */
}

.settings-form h2 {
    margin-bottom: 30px;
    font-size: 18px;
    color: #E9CB64;
    font-family: 'Press Start 2P', cursive;
}

.settings-form label {
    display: block;
    font-size: 14px;
    color: #E9CB64;
    margin-bottom: 10px;
    font-family: 'Press Start 2P', cursive;
}

.settings-form input[type="checkbox"] {
    margin-right: 10px;
}

.settings-form input[type="range"] {
    width: 90%;
    padding: 5px;
    border: 2px solid #E9CB64;
    border-radius: 5px;
    background-color: #1a1a1a;
    color: #E9CB64;
    font-size: 14px;
    font-family: 'Press Start 2P', cursive;
    box-shadow: inset 2px 2px 4px #333;
}

.settings-form button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-family: 'Press Start 2P', cursive;
    color: #1a1a1a;
    background-color: #E9CB64;
    border: 2px solid #1a1a1a;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 4px 4px 0 #1a1a1a;
    text-transform: uppercase;
}

.settings-form button:hover {
    background-color: #EADD56;
    transform: scale(1.05);
}

.message {
    color: #0f0;
    margin-top: 15px;
    font-size: 12px;
}

.conpage-buttons {
    margin-top: 40px;
}

.conpage-buttons button {
    margin: 10px;
    font-size: 10px;
}
/* Footer collé en bas */
.site-footer {
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 15px 10px;
    font-size: 10px;
    border-top: 2px solid #444;
    width: 100%;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

.footer-nav a {
    color: #8EB7C3;
    text-decoration: none;
    margin: 0 6px;
}

.footer-nav a:hover {
    text-decoration: underline;
}